{% extends "base.html.twig" %}
{% form_theme formView 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<h1>Inscription</h1>
	<br>

	{{form_start(formView)}}

	{{form_widget(formView)}}

	<button type="submit" class="btn btn-primary">Inscription</button>

	{{form_end(formView)}}

{% endblock %}
