<div class="col">
	<div class="card {{color}} text-white text-center h-100">
		<div class="card-body">
			<i class="{{icon}} mb-3 fa-2x"></i>
			<p class="card-text">{{text}}</p>
		</div>
	</div>
</div>
